{% extends "entries/base.html" %}   
    {% block content %}
     <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="https://4.bp.blogspot.com/-kDGvbCKHKnY/W_DjIBqkEAI/AAAAAAAAKV4/swjqL4QRzocYnpgfFFSVTGFRjT0Th5_rQCLcBGAs/s1600/hinh-anh-sach-hoa-dep-nghe-thuat-%2B%252814%2529.jpg" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">{{object.entry_title}}</h3>
            <p class="card-text">{{object.entry_text}}</p>

          </div>
          <div class="card-footer text-muted">
            Posted on {{object.entry_date}} by
            <a href="#">{{object.entry_author}}</a>
          </div>
        </div>

        <!-- Pagination -->
      </div>
    {% endblock %}  
